body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
}

.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

header {
  background: #222;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

header a {
  color: #e8491d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

header li {
  display: inline;
  margin: 0 20px;
}

header #branding {
  text-align: center;
}

header #branding h1 {
  margin: 0;
}

header nav {
  margin-top: 10px;
}

header .highlight,
header .current a {
  font-weight: bold;
}

header a:hover {
  font-weight: bold;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.7);
}

h1 {
  font-family: "Fira Sans", monospace;
  color: #4deeea;
  text-shadow: 0 0 20px #4deeea, 0 0 2px #4deeea, 0 0 10px #4deeea,
    0 0 10px #4deeea, 0 0 30px #4deeea;
}
#jsNeon {
  color: #f7df1e;
  text-shadow: 0 0 20px #f7df1e, 0 0 2px #f7df1e, 0 0 10px #f7df1e,
    0 0 10px #f7df1e, 0 0 30px #f7df1e;
}
#phpNeon {
  color: #787cb5;
  text-shadow: 0 0 20px #787cb5, 0 0 2px #787cb5, 0 0 10px #787cb5,
    0 0 10px #787cb5, 0 0 30px #787cb5;
}
#cssNeon {
  color: #006bc0;
  text-shadow: 0 0 20px #006bc0, 0 0 2px #006bc0, 0 0 10px #006bc0,
    0 0 10px #006bc0, 0 0 30px #006bc0;
}

/*Vamos a quitarle toda la mierdecilla a los <a>*/
a {
  text-decoration: none;
}

/*---Animacion tarjetas---*/
.card {
  display: grid;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  background: #242424;
  position: relative;
  padding: 1.8rem;
  border: 1px solid #000000;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card:hover {
  border-color: #4deeea;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);
}

/*---Configuramos el tamaño de las logos*/
.logoIndex {
  width: 80px;
}

.logoIndex:nth-last-child(){
    border: solid white 10px;
    margin-top: 100px;
}
/*Ahora*/