* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
}

header {
  display: grid;
  width: 60%;
  margin: auto;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  display: grid;
  width: 60%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  color: #4deeea;
  text-shadow: 0 0 20px #4deeea, 0 0 2px #4deeea, 0 0 10px #4deeea,
    0 0 10px #4deeea, 0 0 30px #4deeea;
}

#jsNeon {
  color: #f7df1e;
  text-shadow: 0 0 20px #f7df1e, 0 0 2px #f7df1e, 0 0 10px #f7df1e,
    0 0 10px #f7df1e, 0 0 30px #f7df1e;
}

#phpNeon {
  color: #787cb5;
  text-shadow: 0 0 20px #787cb5, 0 0 2px #787cb5, 0 0 10px #787cb5,
    0 0 10px #787cb5, 0 0 30px #787cb5;
}

#htmlNeon {
  color: #e65428;
  text-shadow: 0 0 20px #e65428, 0 0 2px #e65428, 0 0 10px #e65428,
    0 0 10px #e65428, 0 0 30px #e65428;
}

#javaNeon {
  color: #ea2d2e;
  text-shadow: 0 0 1px #ea2d2e, 0 0 2px #ea2d2e, 0 0 10px #ea2d2e,
    0 0 5px #ea2d2e, 0 0 30px #ea2d2e;
}

#cssNeon {
  color: #006bc0;
  text-shadow: 0 0 20px #006bc0, 0 0 2px #006bc0, 0 0 10px #006bc0,
    0 0 10px #006bc0, 0 0 30px #006bc0;
}

#sqlNeon {
  color: #06677c;
  text-shadow: 0 0 20px #06677c, 0 0 2px #06677c, 0 0 10px #06677c,
    0 0 10px #06677c, 0 0 30px #06677c;
}

/*Vamos a quitarle toda la mierdecilla a los <a>*/
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*---Animacion tarjetas---*/
.card {
  display: grid;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  background: #242424;
  position: relative;
  padding: 200px;
  border: 1px solid #000000;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 10%;

  /* flex: 0 0 auto;
  margin-right: 5px; */
}

.card:hover {
  border-color: #4deeea;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);
}

/*---Configuramos el tamaño de las logos*/
.logoIndex {
  width: 80px;
  height: 80px;
}

/* .card:last-child .logoIndex {
  width: 90px;
} */

.card .logoIndex {
  display: grid;
  justify-self: center;
}

/*

ATENCION LEER ESTA MIERDA PORQUE ES IMPORTANTE
El main que aqui en css lo tratamos como ".container" está sobre grid, distribuido en 4 contenedores, que se veen asi.

###########################   Contenedor 1 = contenedorTarjetas
#contenedor1 # contenedor2#   Contenedor 2 = contenedorComplementario
#contenedor3 # contenedor4#   Contenedor 3 = contenedorSobreMi
###########################   Contenedor 4 = contenedorRecomendaciones

Inicialmente, el grid se hizo para que esté asi, repartido de esta manera, luego ya le daré forma a cada contenedor de modo que no se verá exactamente como representado arriba, pero independiente de si contenedor 1, 2, 3 o 4 son mas ancho que uno u otro, la grilla de 4x4 se mantiene por mis santos cojones.

Dicho esto, podrás observar ahora y entender mejor los contenedores abajo.
*/

/*---Este contenedor si fuera de tu familia, seria yo, porque es el contenedor padre---*/
/*Este es el contenedor global, todo lo que ves despues de header y antes de footer.*/
.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 60%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

/* Slideshow container */
#contenedorTarjetas {
  display: grid;
  grid-template-rows: 355px 1fr;
  width: 100%;
  height: 100%;

  /* border: solid red 1px; */
}

#contenedorAbajoDeTarjetas {
  display: grid;
  padding: 5%;
  /* border: solid orange 1px; */

  border-top: 1px solid #ffffff;
}
.slideshow-container {
  display: grid;
  align-items: center;
  width: 100%;
  position: relative;
  margin: auto;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* .mySlides p{
    margin-top: 5%;
    border: solid black 1px;
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  color: #b2b2b2;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "prev button" to the right */
.prev {
  left: 0;
  margin-left: 10%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.active-dot,
.dot:hover {
  background-color: #b2b2b2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

.fade h2 {
  text-align: center;
}

.fade p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.logoIndex {
  width: 100%;
  height: 100px;
  border-radius: 15px;
}

/*---Contenedor Complementario*/
/*
Vale, aqui la cosa cambia un poco pero no hay que volverse loco..

item1 item1
item2 item3

Es decir, el texto con el titulo arriba es un contenedor que ocupa 2 columnas,
ya lo de "Repositorios" con la lista es otro contenedor, en la segunda fila que
solo ocupa una puta columna, y el calendario en la segunda fila, al lado de 
"Repositorios" siendo otro contenedor que tambien solo ocupa 1 columna.
*/
#contenedorComplementario {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#contenedorTextoInfo1 {
  display: grid;
  grid-column: 1 / -1;
  /* border: solid yellow 1px; */
  /* padding: 5%; */
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/*  */
#contenedorTextoInfo2 {
  /* border: solid yellow 1px; */
  padding-left: 15%;
  padding: 5%;
}

#contenedorCalendario {
  /* border: solid yellow 1px; */
  padding-left: 9%;
  padding-right: 9%;
  padding: 5%;
}

/*---Contenedor Sobre Mi---*/
/*
Si, soy medio maricon y como no se me ocurrió nada y veía 
la web maquetada con un cacho enorme en vacio, decidi promoverme
un poco, asi que mas vale que me sigas como minimo en instagram,
sino serás obligado a presentarte a la mili
*/
#contenedorSobreMi {
  border-top: 1px solid #ffffff;
  padding: 5%;

  /* border: solid red 1px; */
}

#quienSoy {
  padding: 5%;
}

/*---Contenedor Recomendaciones---*/
/*
Esto ya es otro nivel, pensé en este contenedor de forma abstracta, como dice el nombre:
"recomendaciones", pero realmente ni puta idea de que poner, y mientras decidi tener este
ultimo contenedor y hacia los primeros de arriba, se me iban surgiendo ideas... Pero una
mejor que la otra.. Entonces si ves que está guapardo o bien pensado, sabrás el porque..

"My criativity is my own power."
*/
#contenedorRecomendaciones {
  padding: 5%;
}

#recomendacionesTexto {
}

#recomendacionesMultimedia {
}
